.HeroContainer {
    height: fit-content;
    .HeroImg {
        position: absolute;
        z-index: 1;
        top: 10px;
        right: 0px;
        left: 0px;
        width: 100%;
        object-fit: cover;
        height: 500px;

        @media (min-width: 1000px) {
            height: auto;
            max-height: 500px;
        }

        @media (min-width: 1600px) {
            max-height: 600px;
        }
    }

    .HeroContent {
        text-align: center;
        top: 300px;
        position: relative;
        color: white;
        z-index: 4;

        @media (min-width: 1100px) {
            top: 330px;
        }
        @media (min-width: 1600px) {
            top: 430px;
        }
        h1 {
            font-size: 28px;
            font-weight: 700;
            color: white;
            line-height: 42px;
            margin-bottom: 10px;

            @media (min-width: 800px) {
                font-size: 34px;
            }
            @media (min-width: 1250px) {
                font-size: 48px;
                line-height: 72px;
            }
        }
        p {
            font-size: 14px;
            line-height: 21px;
            font-weight: 400;
            color: #999;
            max-width: 900px;
            margin: 0 auto;

            @media (min-width: 1450px) {
                font-size: 16px;
                line-height: 27px;
                max-width: 1100px;
            }
            @media (min-width: 1600px) {
                font-size: 18px;
                line-height: 27px;
                max-width: 1100px;
            }
            span {
                display: none;

                @media (min-width: 800px) {
                    display: inline;
                }
            }
        }
        button {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15.5px 24px;
            background-color: #e50000;
            color: white;
            font-size: 14px;
            margin: 30px auto 0 auto;
            font-weight: 600;
            line-height: 21px;
            border: none;
            border-radius: 8px;
        }
    }
}
